<h1>Messages</h1>
<style>
  .icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  }
  .glyphicon.glyphicon-log-out {
    font-size: 20px;
}
</style>

 <% @messages.each do |message| %>
  <% if message.content %>
   <% flyer = Flyer.find(message.flyer_id) %>
   <div class="item">
<div class="panel-heading">
       <div class="header"><strong><%= flyer.to_s %> </strong><%= message.message_time %></div>
      <div class="list">
       <div class="item">
        <i class="right triangle icon"></i>
        <%= message.content %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>
</div>

<div class="col-md-10 col-md-offset-1">
<%= form_for [@conversation, @message] do |f| %>
<div class="form-group">
  <%= f.text_area :content, class: "form-control" %>
</div>
  <%= f.text_field :flyer_id, value: current_user.id, type: "hidden" %>
<div class="form-group">
  <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
</div>
<% end %>
</div>
