<html>
<head>
<title>Log in form</title>
</head>

<body>
<h1>Login</h1>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>
<div class="logo_login">

</div class="login_form">
<%= form_tag do %>
  <%= label_tag("Username: ") %>
  <%= text_field_tag(:user_name) %><br>
  <%= label_tag("Password: ") %>
   <%= password_field_tag(:password) %><br><br>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<% end %>

</body>

</html>


