
<h1>Login</h1>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>
<div class="logo_login">
<img src="https://static.wixstatic.com/media/2a1d77_57ab183691dd4834881e72ac94f0444c~mv1.png/v1/fill/w_501,h_195,al_c,q_80,usm_0.66_1.00_0.01/2a1d77_57ab183691dd4834881e72ac94f0444c~mv1.webp" class="rounded center"  alt="Airport Social Networking" >

</div>
<%= form_tag do %>
  <%= label_tag("Username: ") %>
  <%= text_field_tag(:user_name) %><br>
  <%= label_tag("Password: ") %>
   <%= password_field_tag(:password) %><br><br>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>

<% end %>
