<h1>Profile</h1>

<div class="image">
  <%= image_tag(@flyer.img_url) %>
</div>

<br>
<p>Name: <%= @flyer.to_s %></p>
<br>
<p>Occupation: <%= @flyer.occupation %></p>
<br>
<p>Your Bio: <%= @flyer.description %></p>
<br>
<p>Your Airport: <%= @flyer.airport.name %></p>

<%= button_to "Find my date", "/find_my_date/#{@flyer.id}"%>

<br>
<%= link_to "Edit Profile", edit_flyer_path(@flyer)%>
