<h1>Profile</h1>

<img src="<%= @flyer.img_url %>">
<br>
<p>Name: <%= @flyer.to_s %></p>
<p>Occupation: <%= @flyer.occupation %></p>
<p>Your Bio <%= @flyer.description %></p>
<p>Your Airport: <%= @flyer.airport.name %></p>
