<h1>Profile</h1>
<% if current_user.id == @flyer.id %>
  <%= link_to "See My Messages", conversations_path %>
<% end %>

<div class="ui card">
  <div class="image">
    <%= image_tag(@flyer.img_url) %>
  </div>
  <div class="content">
    <a class="header"><%= @flyer.to_s %></a>
    <div class="meta">
      <span class="occupation"><%= @flyer.occupation %></span>
    </div>
    <div class="description">
       <%= @flyer.description %>
    </div>
    <div class="airport">
      <%= @flyer.airport.name %>
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="age"></i>
      <%= @flyer.age %>
    </a>
  </div>
</div>
<br>
  <% if current_user.id == @flyer.id %>
    <%= button_to "Find my date", "/find_my_date/#{@flyer.id}" %>
  <% end %>

  <% if current_user.id != @flyer.id %>
    <%= link_to "Start A Conversation", conversation_messages_path(@flyer.conversations.first.id) %>
  <% end %>
<br>
  <% if current_user.id == @flyer.id %>
    <%= button_to "Edit Profile", "/flyers/#{@flyer.id}/edit" %>
  <% end %>
